.pozadina{
    background-color:white;
    display:flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}
.img 
{
    background-color: transparent;
    height: 90px;
    width: 90px;
    display:flex;
    align-content: center;
    flex-grow: 1;
}
.natpis 
{
    background-color: transparent;
    font-size: large;
    font-style: bold;
    display:flex;
    align-content: center;
    flex-grow: 1;
}
.logo {
    display:flex;
    align-items: center;
    flex-direction: column;
    height: 120px;
    padding:1%;
}
.dimenzija60 {
    height: 150px;
    width: 350px;
    background-color:lightgray;
}
.crveno {
    background-color: red;
}
.matricasoba {
    border-style: solid;
    display: flex;
    background-color: rgba(255, 0, 0, 0.699);
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    width: auto;
    flex-grow: 2;
}
.sobadugme {
    
    display: flex;
    margin: 5px;
    border-style: solid;
    flex-grow: 1;
    padding: 8px;
}
.divSpratovi {
    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: space-around;
    flex-grow: 1;

}
.DivZaMatricuSoba {
    display: flex;
    height: auto;
    width: auto;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
}
.dijagramSobe {
    border-style: solid;
    display: flex;
    background-color: rgba(255, 0, 0, 0.699);
    flex-direction: column;
}
.dijagramPacijenta {
    border-style: solid;
    display: flex;
    margin: 1px;
    background-color: rgba(255, 0, 0, 0.699);
    flex-direction: column;
    align-content: space-around;
}
.divIme{
    display: flex;
}
.divPrezime {
    display: flex;
}
.divDijeta {
    display: flex;
    flex-grow: 2;
}
.divDijagnoza {
    display: flex;
}
.krevetDugme {
    display: flex;
    margin: 5px;
    border: black;
    border-style:dashed;
    background-color:darkorange;
}
.prozorSaKrevetima {
    display: flex;
    background-color:  rgba(255, 0, 0, 0.699);
    flex-wrap: wrap;
    align-content: space-between;
}
.zabrisanje {
    flex-wrap: wrap;
}
.zabrisanje1 {
    flex-wrap: wrap;
}
.sprat {
    display:flex;
    flex-grow: 1;
}

    
